Build/
*.filters
src/Utility/Project.sln
*.vcxproj
src/Utility/cmake_install.cmake
src/Utility/CMakeCache.txt
*.cmake
src/Utility/CMakeFiles/3.3.2/CMakeDetermineCompilerABI_C.bin
*.bin
src/Utility/CMakeFiles/3.3.2/CompilerIdC/CMakeCCompilerId.c
*.exe
src/Utility/CMakeFiles/3.3.2/CompilerIdC/Debug/CMakeCCompilerId.obj
*.tlog
src/Utility/CMakeFiles/3.3.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.obj
src/Utility/CMakeFiles/c792c92e749095c472d568ab54cda4e7/generate.stamp.rule
*.check_cache
src/Utility/CMakeFiles/CMakeOutput.log
*.cxx
src/Utility/CMakeFiles/generate.stamp
*.depend
src/Utility/CMakeFiles/generate.stamp.list
src/Utility/CMakeFiles/TargetDirectories.txt
src/Utility/.vs/Project/v14/.suo
src/Utility/libutility.dir/Debug/libutility.Build.CppClean.log
*.log
src/Utility/libutility.sln
src/Utility/Project.VC.db
*.opendb
*.pdb
*.lib
src/Utility/libutility.VC.db
*.suo
src/FullCompiler/CMakeCache.txt
*.rule
src/FullCompiler/CMakeFiles/3.3.2/CompilerIdC/CMakeCCompilerId.c
*.cpp
src/FullCompiler/CMakeFiles/generate.stamp.list
src/FullCompiler/CMakeFiles/generate.stamp
src/Interface/CMakeCache.txt
src/Interface/CMakeFiles/3.3.2/CompilerIdC/CMakeCCompilerId.c
*.sln
src/FullCompiler/libfullcompiler.VC.db
*.cache
src/Interface/CMakeFiles/generate.stamp
*.list
src/Interface/CMakeFiles/TargetDirectories.txt
src/FullCompiler/CMakeFiles/TargetDirectories.txt
*.db
src/Utility/libutility.vcxproj.user
src/Variable/CMakeCache.txt
src/Core/CMakeCache.txt
*.stamp
src/Core/CMakeFiles/3.3.2/CompilerIdC/CMakeCCompilerId.c
src/ACU_Persistent/CMakeCache.txt
src/ACU_Theory/CMakeCache.txt
src/ACU_Theory/CMakeFiles/TargetDirectories.txt
src/Core/CMakeFiles/TargetDirectories.txt
src/ACU_Persistent/CMakeFiles/3.3.2/CompilerIdC/CMakeCCompilerId.c
src/AU_Persistent/CMakeCache.txt
src/AU_Theory/CMakeCache.txt
src/Mixfix/CMakeCache.txt
